
#menu {
  display: none;
  position: fixed;
  top: 20px;
  z-index: 1;
  right: 20px;
  color: white;
}
#menu div {
  float: left;
  background: black;
  height: 4em;
  line-height: 4em;
  text-align: center;
  margin-right: 1px;
  font-family: "Georgia";
  font-size: 1.25em;
  width: 4em;
  margin-bottom: 1px;
}

#menu #next {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  background: black url(img/arrow-down-white_2.png);
}
#menu #next:hover {
  background: black url(img/arrow-down-white_2.png) 0 70px;
}
#menu #next:active {
  background: black url(img/arrow-down-white_2.png) 0px 72px;
}
#menu #prev {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  background: black url(img/arrow-up-white_2.png);
}
#menu #prev:hover {
  background: black url(img/arrow-up-white_2.png) 0 -68px;
}
#menu #prev:active {
  background: black url(img/arrow-up-white_2.png) 0px -70px;
}
#menu.history #prev {
  height: 80px;
  width: 0;
}
#menu.compare2 #next {
  height: 80px;
  width: 0;
}
@media screen and (min-width: 768px) {
  #menu {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  #menu {
    top: 90px;
    height: 180px;
    width: 80px;
  }
  #menu.history #prev {
    height: 0;
    width: 80px;
  }
  #menu.compare2 #next {
    height: 0;
    width: 80px;
  }
  #menu div {
    margin-right: 0;
  }
}