/*.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}*/
html, body{
	height:100%;

}

.container{
	height: 100%;
}

.intro{
	background-image: url(img/peabody_original_2.jpg);
	background-position: 0% 25%; /*zooms in to the image*/
	color: white;
    background-size: cover; /*center bg image?*/
	text-align: center;
}

.intro h1{
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	font-size: 75px;
}

.intro h2{
	font-family: "Inconsolata", monospace;
}

/*body for narrative and explanation sections*/
.narrative, .explanation, .credits{ 
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 400;
}

/*body for interactive pages*/
.interactive{
	font-family: "Inconsolata", monospace;

}

/*headers for all of the pages*/
.narrative h2, .explanation h2, .interactive h2, .credits h2{
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	text-align: center;
}

/*font for narrative pages*/
.narrative{
	color:white; /*change to white when solid background*/
}

#history{
	background-color: #8D2B1D; /*red*/
}

#interaction{
	background-color: #325B67; /*blue*/
}

#compare{
	background-color: #458867; /*green*/
}

#credits{
	background-color: black;
}


.highlight{
	background-color: yellow;
	font-weight: 700;
}

.axis line, .axis path { /* timeline axis */
	fill: none;
	stroke: black;

}

.interactive{
	font-size: smaller;
}


