/*.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}*/
html, body{
	height: 100%;
    margin: 0;
}
::-webkit-scrollbar{
	display: none;
}
.flexy{
	display: flex;
	max-width: 80% ;
	margin-left: auto;
	margin-right: auto;
}
.flexy > div{
	flex:1;
}
.key{
	width:100%;
}
.flexy > div:first-child{
	margin-right: 40px;
}
.section {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.section.centered{
	justify-content: center;
}

.cell{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    justify-content: center;
}
.navrow{
	display: flex;
	width:100%;
}
.navrow > .cell{
	flex: 100% 0 0;
	padding:25px 25px;
	box-sizing:border-box;
	position:relative;
}
.gridline {
	position: absolute;
	background: rgb(219, 136, 42);
	color: rgb(219, 136, 42);
}
.gridline:hover{
	color:white;
	cursor: pointer;
}
.gridline.suggested{
	color:white;
}
.gridline.suggested:hover{
	z-index: 10;
	background: white;
	color:rgb(219, 136, 42);
}
.gridline-h {
	width: calc(100vw);
	height: 25px; }
.gridline-v {
	width: 25px;
	height: calc(100vh); }
.gridline-t {
	top: 0px;
	left: 0px;}
.gridline-l {
	left: 0px;
	top: 0px;}
.gridline-r {
	right: 0px;
	top: 0px;
}
.gridline-b {
	bottom: 0px;
	left: 0px;
	}
.gridline span{
	display:block;
	position:relative;
	text-align: center;
	width: 100%;
	font-size: 1.7em;
	top: 50%;
	transform: translateY(-50%);
}
.gridline-v span{
	left:50%;
	transform: translateX(-50%);
}
/*link styling*/

/* unvisited link */
a:link {
    color: #ffffff;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: #FAAE3C;
}

/* mouse over link */
a:focus, a:hover {
    color: #FAAE3C;
    text-decoration: underline;
}

.intro{
	background-image: url(img/peabody_original_2.jpg);
	background-position: 0% 25%; /*zooms in to the image*/
	color: white;
    background-size: cover; /*center bg image?*/
	text-align: center;
}

.introban{
   background-color: #c36c25;
    padding: 30px;
}

.intro h1{
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 75px;
    margin: 0;
}
.speculative_intro.cell{
	display: block;
	padding: 0;
}
.intro h3{
	font-family: "Inconsolata", monospace;
	font-size: 150%;
    box-sizing: border-box;
}

.intro .container{
	display: flex;
    flex-direction: column;
    justify-content: center;

}


/*body for narrative and explanation sections*/
.narrative, .explanation, .credits{
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explanation .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.interactive .col-md-6 {
    min-width: 552px;
}

#cheatbreak{
    border-bottom: 10px gray;
}

#viewGrid {
    margin: 0 auto;
    min-width: 522px;
}

#viewTools{
	margin-top:17px;
}
#viewTools h4{
	font-weight: bold;
}
#viewsvg {
    display: block;
    margin: auto;
}

#compareGrid {
    margin: 0 auto;
    min-width: 522px;
}

#all {
    box-shadow: -5px -5px 5px #4d4d4d;
}
.constant{
	position: fixed;
	top: 35;
	left: 35;
	z-index: 999;
}

.burgerNav{
	width: 5vh;
	height:8vh;
	cursor: pointer;
}

.burgerNav:hover .capRow{
	box-shadow: 0px 0px 1px 1px rgba(60, 0, 0, 0.1);
}
.burgerNav:hover .sqr{
	box-shadow: 0px 0px 1px 1px rgba(60, 0, 0, 0.1);
}
.burgerNav .capRow,
.burgerNav .midRow{
	margin-top: 0.25vh;
	display: flex;
	box-sizing: border-box;
	width:100%;
	height:1.25vh;
	margin-top:0.4375vh;
}
.burgerNav .capRow{
	height:1vh;
    width: 100%;
}
.capModalRow:nthChild(2){
    margin-top:;
}
.current{
	background-color: rgb(219, 136, 42) !important;
}
.sqr{
	box-sizing: border-box;
	flex: 1.25vh;
	height: 1.25vh;
	margin-left:0.4375vh;
}
.sqr:first-child{
	margin-left:0;
    background-color: yellow;
}

.burgerNav .capRow,
.burgerNav .midRow .sqr{
	border:2px solid rgb(219, 136, 42);
	background-color: white;
}

.modalNav {
    width: 20em;
    height:20em;
}

.modal-body{
    height:45em;
}
.modalRow {
    height: 8em !important;
    margin:1em 0em 0em 0em;
    display: flex;
    box-sizing: border-box;
}
.modalSqr{
    box-sizing: border-box;
    flex: 3.25vh;
    height: 15.25vh;
    margin:.5vh;
    border:2px solid rgba(195,108,37,1);

}

.modalRow h4{
    text-align: center;
    margin: 1em 1em 1em 1em;
}

.modalRow h3{
    text-align: center;
    margin: 1.5em 1em 1em 42%;
}

.capModalRow{
    border:2px solid rgba(195,108,37,1);
    width: 100%;
}

.capRow:first-child{
	margin-top: 0;
}

/*body for interactive pages*/
.interactive{
	font-family: "Inconsolata", monospace;
}

/*headers for all of the pages*/
h2.head{
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	text-align: center;
  margin: 20px 0px 0px 0px;
  font-size: 4em !important;
}

h3{
	font-family: "Inconsolata", monospace;
	font-weight: 400;
	text-align: center;
	margin: 20px 0px 0px 0px;
	font-size: 2em !important;
}

h3.subhead {
	text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: lighter;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top:0px;
	margin-bottom: 20px;
	color:grey;
/*    font-size: 100%;
*/}

#compare h3{
	margin-bottom: 0;
}

/*font for narrative pages*/
.narrative{
	color:white; /*change to white when solid background*/
 /*   font-size: .2em; */
  padding-top: 3%;
  padding-bottom: 3%;
}

.narrative p{
	font-size: larger;
 /*   margin-left: 50px; */
/*    margin-right: 50px; */

}

#eventKey{
    padding: 0;
}

img#eventKeyIMG {
    width: 25%;
}

#history{
	background-color: #8D2B1D; /*red*/
    margin-top: 0em;
    height: 90%;
/*    width: 100%;*/
}

#howitworks{
/*    padding-top: 5%;
    padding-bottom: 5%;*/
    background-color: #FDFDFD;
    width: 100%;
    height: 100%;

/*  from Shivani's styling; need to check
	background-color: #FDFDFD !important;
    margin-top: 0em;
    height: 90%; */

}

#explore{
    height: 83%;
}

#play{
    height: 83%;
}

#interaction{
	background-color: #74436C; /*purple*/
    height: 100%;
}
#design{
	background-color: #2B4461;
}
#data{
	background-color: #458867;
}
#build{
    padding-top: 5%;
    padding-bottom: 5%;
}
#buildTools{
	margin-top: 35px;
}
#buildTools h4{
	font-weight: bold;
}

#compare2{
    padding-top: 5%;
    padding-bottom: 5%;
}

#credits{
	background-color: gray;
    margin: 0;
}


.highlight{
	background-color: yellow;
	font-weight: 700;
}

.axis line, .axis path { /* timeline axis */
	fill: none;
	stroke: black;

}

.buildType:hover{
	outline: 3px solid lightblue;
}

.highlightSquare{
	stroke: yellow;
    stroke-width: 5px;
}

.timelineRect{
    visibility: visible;
}

.tester{
	fill:blue;stroke:pink;stroke-width:5;opacity:0.5;
}

#buildGrid rect:hover{
	cursor:pointer;
}

#eventsNavigation{
	text-align: center;
	font-size: 1.5em;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}

.row{
	margin-left: 0;
	margin-right: 0;
}

#buildList p{
	margin-right: 10px;
	font-size: 1.2em;
	text-align: left;
	min-height:3em;
	display:inline-block;;
}
.selectedColor{
	stroke-width:3;
	stroke:#F7DE65;
}

.colorBox{
	cursor: pointer;
}

/***************************CAROUSEL (for how it works) STYLING****************************/

.clickThru{
	width:100%;
	height:500px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

/*remove gradient from bootstrap carousel*/
.carousel-control.left, .carousel-control.right {
    background-image: none;
    top: -100px;
}


.carousel-control{
  color:black;
}

.carousel-control:hover, .carousel-control:focus{
  color:black;
}


/*if white bg*/
.carousel-indicators li{
  background-color:white;
  border-color:black;
}
.carousel-indicators .active{
  background-color:black;
  border-color: white;
}

img.carousel{
/*    width: 50%;
*/}


.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 60%;
    margin: auto;
}

#compareList{
    margin-left: 100px;
}

.square text {
    fill: black;
    font: 10px sans-serif;
/*    text-anchor: end;*/
}

a{
    color: white;
    text-decoration: underline;
}

a:hover{
    color: lightgray;
    text-decoration: underline;
}
.ptr{
	cursor: pointer;
}

/*
	container stuff
*/
.contain{
	padding:.5em;
}

/*
-------------------------------Build Event Thing--------------------------------
*/
#buildList {
	background-color: #F3F3F3;
	padding:10px 1.5em;
	display:flex;
	flex:1;
	max-width: 520px;
}
#eventsNavigation{
	text-align: right;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}
#infoNavArea{
	flex:1;
	padding-top: 1em;
	padding-right: 1em;
	box-sizing: border-box;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	margin-right:1em;
}

#correctionArea{
	flex:.25;
	position: relative;
}
#currentYr{
	margin-right: .5em;
	flex: .15;
}
#currentBuildEvent{
	display: inline-block;
	flex:1
}
.info{
	display: flex;
	height: 3em;
	margin-bottom: 10px;
	font-size: 1.5em;
}
.nextPrevButtons:hover{
	cursor: pointer;
	color:#DB882A;
}
#next{
	color:#DB882A;
}
#eventCounter{
	font-style: italic;
}
#correctionArea hr{
	margin: 10px 0px;
	border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#show-hide{
	text-align: center;
	color: #59C7FF;
	display: block;

}
#show-hide:hover{
	cursor: pointer;
	text-decoration: none;
}

.corIncor{
	width: 40px;
	height: 40px;
	display: block;
	margin: 20px auto;
}

/*
--------------------------Grid--------------------------------------------------
*/
#main{
	flex:1;
	margin-left:10px;
	margin-right:10px;
}
#main svg{
	margin-left:1.2em;
}
#mainComp{
	padding-left: 20px;
}
.accessories{
	flex:1;
	max-width: 50%
}

.accessories.left-acc{
	flex: .65;
}
/*
-------------------------Event lists--------------------------------------------
*/
.dropdown{
	margin-top: -15px;
}
.dropdown-toggle:hover{
	cursor: pointer;
}
.dropdown-menu:hover{
	cursor:pointer;
}
h4.drop{
	display:inline-block;
	border-bottom: 2px solid grey;
}
#compEvtList{
	background-color: #efefef;
}
#exploreList{
	height:200px;
	background-color: #efefef;
}
#csv{
	height:340px;
	padding-left:30px;
	padding-right: 10px;
	float: right;
}
.eList{
	font-size: 12px;
	height:300px;
	overflow-y: auto;
	background-color: #efefef;
}
/*
----------------------------Color Pallete---------------------------------------
*/
#pallete{
	width:40em;
}
.palleteSquare{
	display: block;
	margin-right:10px;
	cursor: pointer;
	float:left;
}
.palleteSquare:not(.disabled):hover{
	outline: 3px dashed #F7DE65;
}
.palleteSquare.disabled:hover{
	cursor:not-allowed;
}
.currentColor{
	outline: 3px solid #F7DE65;
}

.palleteLabel{
	box-sizing: border-box;
	display: block;
	overflow-x: scroll;
	float:left;
	/* Firefox */
	max-width: -moz-calc(100% - 40px);
	/* WebKit */
	max-width: -webkit-calc(100% - 40px);
	/* Opera */
	max-width: -o-calc(100% - 40px);
	/* Standard */
	max-width: calc(100% - 40px);
	white-space: nowrap;
}
.palleteLabel.editable{
	transform: translateY(-25%);
}
.colorLabelPair{
	padding: 3px;
	display: inline-block;
	max-width:10em;
	min-width: 25%
}

/*
	----------------------------EVENTKEY------------------------------------------
*/
#eventKeyTypes{
	display: inline-block;
	font-size: .6em;
	padding-left: 20px;
	float: left;
}

#eventKeySqr{
	float:left;
	outline-color: #FAAE3C;
	outline-style: solid;
}
#eventKeySqr td.highlight{
	background-color: #232323;
	font-weight: bold;
	color:white;
}
#eventKeySqr td{
	border-color:#b3b3b3;
	border-style: solid;
	text-align: center;
}
#eventKeySqr td[data-type='0'],
#eventKeySqr td[data-type='3'],
#eventKeySqr td[data-type='6']{
	border-left-style:hidden;
}
#eventKeySqr td[data-type='2'],
#eventKeySqr td[data-type='5'],
#eventKeySqr td[data-type='8']{
	border-right-style: hidden;
}
#eventKeySqr td[data-type='0'],
#eventKeySqr td[data-type='1'],
#eventKeySqr td[data-type='2']{
	border-top-style:hidden;
}
#eventKeySqr td[data-type='6'],
#eventKeySqr td[data-type='7'],
#eventKeySqr td[data-type='8']{
	border-bottom-style:hidden;
}
.sidetitle + div{
	margin-left: 1em !important;
}
.sidetitle{
	margin-top:5px;
	margin-bottom:5px;
	font-size: 1.5em;
}
/*
--------------------Scrollbar---------------------------------------------------
*/
.spec-scroll::-webkit-scrollbar {
	display: block;
    width: 10px;
}

/* Track */
.spec-scroll::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.spec-scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);

}

.palleteLabel.spec-scroll::-webkit-scrollbar {
	height:6px;
}
.palleteLabel.spec-scroll::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.palleteLabel.spec-scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius:6px;
		height:6px;
    background: rgba(0,0,0,0.2);
}
/*
-------------------Play Input styles-----------------------------------------
*/
.head4{
	font-size: 2em;
	margin-top: -10px;
}
.editable{
	border: none;
	border-bottom: 2px dashed #efefef;
}
.editable:focus{
	outline: none;
}

textarea.editable{
	border:1px dashed #dfdfdf;
	padding:.5em;
}

#playEvents{
	display: block;
	width: 100%;
	min-width: 7em;
	height:150px;
	margin-top: 10px;
	overflow-y: scroll;
	resize:none;
}

.hamburger {
    background:none;
    height: 1em;
    float: left;
    border: gray;
}

.direction {
    margin: 8em .5em 0em .5em;
    color:#D3D3D3;

}

.direction-updown {
    margin-left: 16.75em;
    color: #D3D3D3;

}

.direction-suggested{
    color: yellow !important;
}

#route1{
    background:#8D2B1D !important;
}

#route2{
    background: #FDFDFD !important;
    margin-left:1em;
}

#route3{
    background:#2B4461 !important;
}


button {
  border: 0;
  padding: 10px;
  font-family: 'Source Sans Pro', Verdana, Sans-Serif;
  font-size: 18px;
  outline: none;
  border-radius: 3px;
  display: block;
  margin: 15px auto;
  background-color: #E3E3E3;
  cursor: pointer;
  transition: opacity 1s ease-in-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: -2em;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    max-width: 50%%
    overflow: visible !important;
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;

  align-items: flex-end;
    display: inline-flex;
    justify-content: space-between;
}


.flex-start { -webkit-align-self: flex-start; align-self: flex-start;}
.flex-end { -webkit-align-self: flex-end; align-self: flex-end;}
.center { -webkit-align-self: center; align-self: center; }
.baseline { -webkit-align-self: baseline; align-self: baseline; }
.stretch { -webkit-align-self: stretch; align-self: stretch;}

.flex-item {
    display: block;
}

.navarrow {
    background-color: white;
}

.navarrow:hover {
    background-color:#D3D3D3;
}
.navarrow:hover > i{
    color: white;
}

.navarrow-suggested:hover {
    background-color:yellow !important;
}
.navarrow-suggested:hover > i{
    color: white !important;
}

/*.shadow-right {
    box-shadow: -5px 0px 50px #4d4d4d;
}

.shadow-left {
    box-shadow: 5px 0px 50px #4d4d4d;
}

.shadow-top {
    box-shadow: 0px 5px 50px #4d4d4d;
}
.shadow-down {
    box-shadow: 0px -5px 50px #4d4d4d;
}*/


.left{
    margin-right:4.5em;
}


.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

.close {
    font-size: 1.5em;
}

.modal-header {
    padding: .5em !important;
    border-bottom: none !important;
}
