/*.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}*/
html, body{
	height: 100%;
    margin: 0;
}

.section {
 min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
}

.container, .container-fluid{

}

.intro{
	background-image: url(img/peabody_original_2.jpg);
	background-position: 0% 25%; /*zooms in to the image*/
	color: white;
    background-size: cover; /*center bg image?*/
	text-align: center;
}

.introban{
   background-color: #c36c25;
    padding: 30px;
}

.intro h1{
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 75px;
    margin: 0;
}

.intro h2{
	font-family: "Inconsolata", monospace;
	font-size: 150%;
    margin: 0;
    bix-sizing: border-box;
}

.intro .container{
	display: flex;
    flex-direction: column;
    justify-content: center;

}


/*body for narrative and explanation sections*/
.narrative, .explanation, .credits{
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 400;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: webkit-flex;
    display: flex;
    align-items: center
    justify-content: center;
}

.explanation .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.interactive .col-md-6 {
    min-width: 552px;
}

#viewGrid {
    margin: 0 auto;
    min-width: 522px;
}

#viewsvg {
 display: block;
    margin: auto;
}

#compareGrid {
    margin: 0 auto;
    min-width: 522px;
}


/*body for interactive pages*/
.interactive{
	font-family: "Inconsolata", monospace;

}

/*headers for all of the pages*/
.narrative h2, .explanation h2, .interactive h2, .credits h2{
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 600%;
}


h4 {
	text-align: center;
}

/*font for narrative pages*/
.narrative{
	color:white; /*change to white when solid background*/

}

.narrative p{
	font-size: larger;
}

#eventKey{
    padding: 0;

}

#history{
    padding-top: 10%;
    padding-bottom: 15%;
	background-color: #8D2B1D; /*red*/
}

#works{
    padding-top: 10%;
    padding-bottom: 5%;
}

#view{
    padding-top: 5%;
    padding-bottom: 15%;
}

#interaction{
    padding-top: 10%;
    padding-bottom: 15%;
	background-color: #325B67; /*blue*/
}

#build{
    padding-top: 10%;
    padding-bottom: 5%;
}

#timeline{
    padding-bottom: 15%;
}

#compare{
    padding-top: 10%;
    padding-bottom: 15%;
	background-color: #458867; /*green*/
}

#compare2{
    padding-top: 10%;
    padding-bottom: 15%;
}

#credits{
    padding-top: 10%;
    padding-bottom: 15%;
	background-color: lightgray;
}


.highlight{
	background-color: yellow;
	font-weight: 700;
}

.axis line, .axis path { /* timeline axis */
	fill: none;
	stroke: black;

}

.interactive{
	font-size: smaller;
}

.buildType:hover{
	outline: 3px solid lightblue;
}

.highlightSquare{
	stroke: blue;
}

.tester{
	fill:blue;stroke:pink;stroke-width:5;opacity:0.5;
}

.crosshair{
	fill:grey !important;
}
#build rect:hover{
	cursor:pointer;
}
#buildList{
}
#eventsNavigation{
	width:50%;
	text-align: center;
	font-size: 1.5em;
}

#buildList p{
	margin-left: auto;
	margin-right: auto;

	font-size: 1.5em;
	height:2.6em;
}
.selectedColor{
	stroke-width:3;
	stroke:rgb(0,0,0);
}
.nextPrevButtons:hover{
	cursor: pointer;
}
