#exz2 { height: 80em; width:100%; background: #FAFAFA; text-align: center; margin-left: 0%;}
#exz2 .zoomContainer .zoomTarget { display: inline-block; position:relative; width: 27em; height: 12em; margin: 1.5em 1em; border:; background: #fff; font-size: 1.1em; padding: none; }

